@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&display=swap');


body {
  margin: 0;
  background-color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, 'Fraunces', 'Fredoka',
    serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
  z-index: 2;
}

.trailer {
  animation: neon2 2s ease-in-out infinite alternate;
}

@keyframes neon2 {
  from {
    box-shadow: 0 0 2px 0px #A484A9,
      0 0 0 #A484A9,
      0 0 5px #A484A9,
      0 0 10px #92509C,
      0 0 15px #92509C,
      0 0 20px #92509C;
  }
  to {
    box-shadow: 0 0 2px 0px #A484A9,
      0 0 10px #A484A9,
      0 0 15px #A484A9,
      0 0 20px #92509C,
      0 0 30px #92509C,
      0 0 35px #92509C;
  }
}

.glow {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 10px;
  animation: neon 2s ease-in-out infinite alternate;
}

nav li {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  filter: drop-shadow(0px 0px 5px #92509C);
}

@keyframes neon {
  from {
    box-shadow: 0 0 2px 0px #A484A9,
      0 0 0 #A484A9,
      0 0 5px #92509C,
      0 0 10px #781462,
      0 0 15px #781462,
      0 0 20px #781462;
  }
  to {
    box-shadow: 0 0 2px 0px #A484A9,
      0 0 10px #A484A9,
      0 0 15px #92509C,
      0 0 20px #781462,
      0 0 30px #781462,
      0 0 35px #781462;
  }
}

.text {
  position: absolute;
  z-index: 2;
  margin-top: 50px;
	text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
	background: linear-gradient(to bottom, #92509C 25%, #360640 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  filter: drop-shadow(0px 0px 3px #580E67);

  .ant-input-number-input {
    color: red; /* Change this to your desired text color */
  }
  .custom-input-number .ant-input-number-handler {
    background-color: red; /* Change the handle background color to red */
    border-color: blue; /* Change the handle border color to blue */
    color: white; /* Change the text color of the handle */
  }
}
